<div class="grid">
  <div class="col-12">
    <div class="flex align-items-end">
      <div class="p-field col-3 pb-0">
        <div class="mb-2">
          <label>Filtrar Fornecedor</label>
        </div>
        <p-autoComplete
          [(ngModel)]="selectedSupplier"
          [dropdown]="true"
          styleClass="w-full"
          [suggestions]="filteredSupplier"
          (completeMethod)="loadFilterSupplier($event)"
          [disabled]="selectedCategoryBySupplier"
          field="name"
        ></p-autoComplete>
      </div>
      <div class="p-field col-3 pb-0">
        <div class="mb-2">
          <label>Filtrar Fornecedor por Categoria</label>
        </div>
        <p-autoComplete
          [(ngModel)]="selectedCategoryBySupplier"
          styleClass="w-full"
          [dropdown]="true"
          [suggestions]="filteredCategory"
          (completeMethod)="loadFilterCategories($event)"
          [disabled]="selectedSupplier"
          field="category"
        ></p-autoComplete>
      </div>
      <div class="flex justify-content-start align-items-center">
        <div class="p-field ml-2">
          <p-button
            class="flex align-items-end justify-content-end"
            icon="pi pi-search"
            styleClass="p-button-info"
            (click)="findAll()"
            pTooltip="Pesquisar"
            tooltipPosition="top"
          ></p-button>
        </div>
        <div class="p-field ml-2">
          <p-button
            class="flex align-items-end justify-content-end"
            icon="pi pi-eraser"
            styleClass="p-button-info"
            (click)="clear()"
            pTooltip="Limpar"
            tooltipPosition="top"
          ></p-button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="label-container">
      <label class="label-text">Fornecedor</label>
    </div>
    <div class="card">
      <p-toolbar>
        <ng-template pTemplate="left">
          <button
            pButton
            pRipple
            label="Novo"
            icon="pi pi-plus"
            class="p-button-success mr-2"
            (click)="create()"
          ></button>
        </ng-template>
      </p-toolbar>
      <p-table
        class="custom-table"
        #dt
        [rows]="5"
        [paginator]="true"
        [value]="suppliers"
        [tableStyle]="{ 'min-width': '50%' }"
        [rowHover]="true"
        currentPageReportTemplate="Exibindo {first} até {last} de {totalRecords} resultados"
        [showCurrentPageReport]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name" style="min-width: 15rem">
              Nome <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="country">
              País<p-sortIcon field="country"></p-sortIcon>
            </th>
            <th pSortableColumn="category">
              Categoria<p-sortIcon field="category"></p-sortIcon>
            </th>

            <th>Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-supplier>
          <tr>
            <td>{{ supplier.name }}</td>
            <td>
              {{ supplier.country }}
            </td>
            <td>{{ supplier.category }}</td>
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-success mr-2"
                (click)="editSupplier(supplier)"
              ></button>
              <p-dialog
                header="Editar Fornecedor"
                [(visible)]="visibleEditFormSupplier"
                [style]="{ width: '50vw' }"
                [maximizable]="false"
              >
                <form [formGroup]="formSupplier">
                  <div class="grid p-fluid p-formgrid">
                    <div class="col-6 flex flex-column gap-2">
                      <label>Nome</label>
                      <input formControlName="name" type="text" pInputText />
                    </div>
                    <div class="col-6 flex flex-column gap-2">
                      <label>Categoria</label>
                      <input
                        formControlName="category"
                        type="text"
                        pInputText
                      />
                    </div>
                    <div class="col-6 flex flex-column gap-2">
                      <label>País</label>
                      <input formControlName="country" type="text" pInputText />
                    </div>
                    <div class="col-6 flex flex-column gap-2">
                      <label>Estado</label>
                      <input formControlName="state" type="text" pInputText />
                    </div>
                    <div class="col-6 flex flex-column gap-2">
                      <label>E-mail</label>
                      <input formControlName="email" type="text" pInputText />
                    </div>
                    <div class="col-6 flex flex-column gap-2">
                      <label>Contato</label>
                      <input formControlName="contact" type="text" pInputText />
                    </div>
                    <div class="col-12 flex flex-column gap-2">
                      <label>Endereço</label>
                      <input formControlName="adress" type="text" pInputText />
                    </div>
                    <div class="col-12 flex flex-column gap-2">
                      <label>Comentários</label>
                      <textarea
                        rows="5"
                        cols="30"
                        pInputTextarea
                        formControlName="comments"
                      ></textarea>
                    </div>
                  </div>
                </form>
                <ng-template pTemplate="footer">
                  <button
                    pButton
                    pRipple
                    label="Salvar"
                    icon="pi pi-check"
                    (click)="update()"
                  ></button>
                </ng-template>
              </p-dialog>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-danger"
                (click)="openDeleteSupplier(supplier)"
              ></button>
              <p-confirmDialog
                header="Confirmation"
                icon="pi pi-exclamation-triangle"
                [closable]="false"
                key="delete"
              >
                <ng-template pTemplate="footer">
                  <button
                    type="button"
                    pButton
                    label="Não"
                    class="ui-button-secondary"
                    (click)="delete(false)"
                  ></button>
                  <button
                    type="button"
                    pButton
                    label="Sim"
                    class="ui-button-danger"
                    (click)="delete(true)"
                  ></button>
                </ng-template>
              </p-confirmDialog>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            {{ suppliers ? suppliers.length : 0 }} Fornecedores.
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>

  <p-dialog
    header="Salvar Fornecedor"
    [(visible)]="visibleFormSupplier"
    [style]="{ width: '50vw' }"
    [maximizable]="false"
  >
    <form [formGroup]="formSupplier">
      <div class="grid p-fluid p-formgrid">
        <div class="col-6 flex flex-column gap-2">
          <label>Nome</label>
          <input formControlName="name" type="text" pInputText />
        </div>
        <div class="col-6 flex flex-column gap-2">
          <label>Categoria</label>
          <input formControlName="category" type="text" pInputText />
        </div>
        <div class="col-6 flex flex-column gap-2">
          <label>País</label>
          <input formControlName="country" type="text" pInputText />
        </div>
        <div class="col-6 flex flex-column gap-2">
          <label>Estado</label>
          <input formControlName="state" type="text" pInputText />
        </div>
        <div class="col-6 flex flex-column gap-2">
          <label>E-mail</label>
          <input formControlName="email" type="text" pInputText />
        </div>
        <div class="col-6 flex flex-column gap-2">
          <label>Contato</label>
          <input formControlName="contact" type="text" pInputText />
        </div>
        <div class="col-12 flex flex-column gap-2">
          <label>Endereço</label>
          <input formControlName="adress" type="text" pInputText />
        </div>
        <div class="col-12 flex flex-column gap-2">
          <label>Comentários</label>
          <textarea
            rows="5"
            cols="30"
            pInputTextarea
            formControlName="comments"
          ></textarea>
        </div>
      </div>
    </form>
    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        label="Salvar"
        icon="pi pi-check"
        (click)="save()"
      ></button>
    </ng-template>
  </p-dialog>

  <ng-template #disabledSupplier>
    <p-dropdown
      [disabled]="true"
      formControlName="supplier"
      [options]="suppliers"
      placeholder="Nenhum Fornecedor Cadastrado"
      optionLabel="name"
      pTooltip="Cadastre um Fornecedor"
      tooltipPosition="bottom"
    ></p-dropdown>
  </ng-template>

  <p-toast position="bottom-center" key="saveSupplier"></p-toast>
  <p-toast position="bottom-center" key="delete"></p-toast>
  <p-toast position="bottom-center" key="filterSuppliersByCategory"></p-toast>
  <p-toast position="bottom-center" key="update"></p-toast>
</div>
