<div class="grid">
  <div class="col-12">
    <div class="flex align-items-end">
      <div class="p-field col-3 pb-0">
        <div class="mb-2">
          <label>Filter Supplier</label>
        </div>
        <p-autoComplete
          [dropdown]="true"
          [(ngModel)]="selectedSupplier"
          styleClass="w-full"
          [suggestions]="filteredSupplier"
          (completeMethod)="loadFilterSupplier($event)"
          [disabled]="selectedCategoryBySupplier"
          field="name"
        ></p-autoComplete>
      </div>
      <div class="p-field col-3 pb-0">
        <div class="mb-2">
          <label>Filter Supplier by Category</label>
        </div>
        <p-autoComplete
          [dropdown]="true"
          [(ngModel)]="selectedCategoryBySupplier"
          styleClass="w-full"
          [suggestions]="filteredCategory"
          (completeMethod)="loadFilterCategories($event)"
          [disabled]="selectedSupplier"
          field="category"
        ></p-autoComplete>
      </div>
      <div class="flex justify-content-start align-items-center">
        <div class="p-field ml-2">
          <p-button
            class="flex align-items-end justify-content-end"
            icon="pi pi-search"
            styleClass="p-button-info"
            (click)="findAll()"
            pTooltip="Search"
            tooltipPosition="top"
          ></p-button>
        </div>
        <div class="p-field ml-2">
          <p-button
            class="flex align-items-end justify-content-end"
            icon="pi pi-eraser"
            styleClass="p-button-info"
            (click)="clear()"
            pTooltip="clear"
            tooltipPosition="top"
          ></p-button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showCards; else noCards" class="col-12" style="margin: 2% 0 2% 0">
    <div class="flex">
      <div class="flex-1 border-round">
        <div class="card">
          <div class="card-default">
            <p-card header="Location">
              <div
                class="flex justify-content-between align-items-center card-container-tall"
              >
                <p class="m-0" style="font-weight: bold">
                  {{ stateCard }} -
                  {{ adressCard }}
                </p>
                <i class="pi pi-map"></i>
              </div>
            </p-card>
          </div>
        </div>
      </div>
      <div class="flex-1 border-round mx-4">
        <div class="card">
          <div class="card-default">
            <p-card header="Contact">
              <div
                class="flex justify-content-between align-items-center card-container-tall"
              >
                <p class="m-0" style="font-weight: bold">
                  {{ emailCard }} -
                  {{ contactCard }}
                </p>
                <i class="pi pi-at"></i>
              </div>
            </p-card>
          </div>
        </div>
      </div>
      <div class="flex-1 border-round">
        <div class="card">
          <div class="card-default">
            <p-card header="O {{ nameSupplier }}">
              <div
                class="flex justify-content-between align-items-center card-container-tall"
              >
                <p class="m-0" style="font-weight: bold">
                  {{ commentCard }}
                </p>
                <i class="pi pi-comment"></i>
              </div>
            </p-card>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="label-container">
      <label class="label-text">Supplier</label>
    </div>
    <div class="card">
      <p-toolbar>
        <ng-template pTemplate="left">
          <button
            pButton
            pRipple
            label="New"
            icon="pi pi-plus"
            class="p-button-success mr-2"
            (click)="create()"
          ></button>
        </ng-template>
      </p-toolbar>
      <p-table
        class="custom-table"
        #dt
        [rows]="10"
        [paginator]="true"
        [value]="suppliers"
        [tableStyle]="{ 'min-width': '50%' }"
        [rowHover]="true"
        currentPageReportTemplate="Displaying {first} to {last} in {totalRecords} results"
        [showCurrentPageReport]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name" style="min-width: 15rem">
              Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="country">
              Country<p-sortIcon field="country"></p-sortIcon>
            </th>
            <th pSortableColumn="category">
              Category<p-sortIcon field="category"></p-sortIcon>
            </th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-supplier>
          <tr>
            <td>{{ supplier.name }}</td>
            <td>
              {{ supplier.country }}
            </td>
            <td>{{ supplier.category }}</td>
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-success mr-2"
                (click)="editSupplier(supplier)"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-danger"
                (click)="openDeleteSupplier(supplier)"
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            {{ suppliers ? suppliers.length : 0 }} Suppliers.
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<ng-template #disabledSupplier>
  <p-dropdown
    [disabled]="true"
    formControlName="supplier"
    [options]="suppliers"
    placeholder="No Registered Supplier"
    optionLabel="name"
    pTooltip="Register a Supplier"
    tooltipPosition="bottom"
  ></p-dropdown>
</ng-template>

<ng-template #noCards>
  <div class="col-12" style="margin: 2% 0 2% 0">
    <div class="flex">
      <div
        class="flex-1 border-round"
        pTooltip="Filter a Supplier"
        tooltipPosition="bottom"
      >
        <div class="card" [ngClass]="{ 'card-disabled': !showCards }">
          <div class="card-default">
            <p-card header="Location">
              <i class="pi pi-map flex justify-content-end align-items-end"></i>
            </p-card>
          </div>
        </div>
      </div>
      <div
        class="flex-1 border-round mx-4"
        pTooltip="Filter a Supplier"
        tooltipPosition="bottom"
      >
        <div class="card" [ngClass]="{ 'card-disabled': !showCards }">
          <div class="card-default">
            <p-card header="Contact">
              <i class="pi pi-at flex justify-content-end align-items-end"></i>
            </p-card>
          </div>
        </div>
      </div>
      <div
        class="flex-1 border-round"
        pTooltip="Filter a Supplier"
        tooltipPosition="bottom"
      >
        <div class="card" [ngClass]="{ 'card-disabled': !showCards }">
          <div class="card-default">
            <p-card header="Supplier">
              <i
                class="pi pi-comment flex justify-content-end align-items-end"
              ></i>
            </p-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<p-dialog
  header="Save Supplier"
  [(visible)]="visibleFormSupplier"
  [style]="{ width: '50vw' }"
  [maximizable]="false"
>
  <form [formGroup]="formSupplier">
    <div class="grid p-fluid p-formgrid">
      <div class="col-6 flex flex-column gap-2">
        <label>Name</label>
        <input formControlName="name" type="text" maxlength="30 " pInputText />
      </div>
      <div class="col-6 flex flex-column gap-2">
        <label>Category</label>
        <input formControlName="category" type="text" pInputText />
      </div>
      <div class="col-6 flex flex-column gap-2">
        <label>Country</label>
        <input formControlName="country" type="text" pInputText />
      </div>
      <div class="col-6 flex flex-column gap-2">
        <label>State</label>
        <input formControlName="state" type="text" pInputText />
      </div>
      <div class="col-6 flex flex-column gap-2">
        <label>E-mail</label>
        <input
          formControlName="email"
          type="email"
          pInputText
          pTooltip="Insert in format email@example.com"
          tooltipPosition="top"
        />
      </div>
      <div class="col-6 flex flex-column gap-2">
        <label>Contact</label>
        <input
          formControlName="contact"
          type="text"
          pInputText
          pattern="^\(\d{3}\) \d{3}-\d{4}$"
          pTooltip="insert in format (XXX) XXX-XXXX"
        />
      </div>
      <div class="col-12 flex flex-column gap-2">
        <label>Address</label>
        <input
          formControlName="adress"
          type="text"
          id="address"
          name="address"
          pInputText
        />
      </div>
      <div class="col-12 flex flex-column gap-2">
        <label>Comments</label>
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="comments"
          maxlength="299"
        ></textarea>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      (click)="save()"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Edit Supplier"
  [(visible)]="visibleEditFormSupplier"
  [style]="{ width: '50vw' }"
  [maximizable]="false"
>
  <form [formGroup]="formSupplier">
    <div class="grid p-fluid p-formgrid">
      <div class="col-6 flex flex-column gap-2">
        <label>Name</label>
        <input formControlName="name" type="text" maxlength="30" pInputText />
      </div>
      <div class="col-6 flex flex-column gap-2">
        <label>Category</label>
        <input formControlName="category" type="text" pInputText />
      </div>
      <div class="col-6 flex flex-column gap-2">
        <label>Country</label>
        <input formControlName="country" type="text" pInputText />
      </div>
      <div class="col-6 flex flex-column gap-2">
        <label>State</label>
        <input formControlName="state" type="text" pInputText />
      </div>
      <div class="col-6 flex flex-column gap-2">
        <label>E-mail</label>
        <input
          formControlName="email"
          type="email"
          pInputText
          pTooltip="Insert in format email@example.com"
          tooltipPosition="top"
        />
      </div>
      <div class="col-6 flex flex-column gap-2">
        <label>Contact</label>
        <input
          formControlName="contact"
          type="text"
          pInputText
          pattern="^\(\d{3}\) \d{3}-\d{4}$"
          pTooltip="Insert in format (XXX) XXX-XXXX"
          tooltipPosition="top"
        />
      </div>

      <div class="col-12 flex flex-column gap-2">
        <label>Address</label>
        <input
          formControlName="adress"
          type="text"
          id="address"
          name="address"
          pInputText
        />
      </div>

      <div class="col-12 flex flex-column gap-2">
        <label>Comments</label>
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="comments"
          maxlength="299"
        ></textarea>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      (click)="update()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
  [closable]="false"
  key="delete"
>
  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      label="no"
      class="ui-button-secondary"
      (click)="delete(false)"
    ></button>
    <button
      type="button"
      pButton
      label="Yes"
      class="ui-button-danger"
      (click)="delete(true)"
    ></button>
  </ng-template>
</p-confirmDialog>

<p-toast position="bottom-center" key="filterSupplier"></p-toast>
<p-toast position="bottom-center" key="filterSuppliersByCategory"></p-toast>
<p-toast position="bottom-center" key="saveSupplier"></p-toast>
<p-toast position="bottom-center" key="update"></p-toast>
<p-toast position="bottom-center" key="delete"></p-toast>
