body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 20px; /* Ajuste o espaçamento do conteúdo principal */
}

.footer {
  text-align: center;
}

.footer-content {
  background-color: #ffc107; /* Cor de fundo */
  color: #6c757d; /* Cor do texto */
  padding: 15px;
}
