footer {
  position:fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #272037;
  color: #FBB03B;
  text-align:center;
  padding: 10px 0;
  p {
    margin: 5px 0;
  }
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}

body{
  margin:0;
  overflow-x:hidden;
  }

  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:#FBB03B;
  font-size:0.8em;
  }

  .footer .row a{
  text-decoration:none;
  color:#FBB03B;
  transition:0.5s;
  }

  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }






