.container {
  display: flex;
  justify-content: space-between;
}

.graphicAmountByType {
  width: 400px;
  height: 400px;
  margin-right: 200px;
}
.graphicValuesByType {
  width: 600px;
  height: 400px;
  margin-right: 200px;
}
