.card {
  border-radius: 15px;
}

.card-green {
  box-shadow: 0px 0px 8px #689f38;
}

.card-yellow {
  box-shadow: 0px 0px 8px #fcc107;
}

.card-red {
  box-shadow: 0px 0px 8px #d32f2f;
}

.card-default {
  box-shadow: 0px 0px 8px #2b243b;
  border-radius: 15px;
}

.label-container {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  display: inline-block;
  border-bottom: none;
}

.label-text {
  color: #495057;
  font-weight: bold;
}

.table-container {
  display: flex;
  width: 100%;
}

.table-item {
  display: flex;
  width: 100%;
}

.custom-table {
  width: 90%;
}

.table-item:first-child {
  flex: 0 0 70%;
}

.view {
  max-height: 300px;
  overflow-y: auto;
  word-wrap: break-word;
}

.info-title {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #ffc107;
  background-color: #ffc107;
  margin: 8px 0px 15px 0px;
}

.info {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ffe79f;
  background-color: #ffe79f;
  margin-bottom: 20px;
}
