<div class="grid">
  <div class="col-12">
    <div class="flex align-items-end">
      <div class="p-field col-3 pb-0">
        <div class="mb-2">
          <label>Filtrar Produto</label>
        </div>
        <p-autoComplete
          [(ngModel)]="selectedProduct"
          [dropdown]="true"
          styleClass="w-full"
          [suggestions]="filteredProducts"
          (completeMethod)="loadFilterProduct($event)"
          field="name"
          [disabled]="selectedTypeByProduct"
        ></p-autoComplete>
      </div>
      <div class="p-field col-3 pb-0">
        <div class="mb-2">
          <label htmlFor="">Filtrar Produto por Tipo</label>
        </div>
        <p-autoComplete
          [(ngModel)]="selectedTypeByProduct"
          [dropdown]="true"
          styleClass="w-full"
          [suggestions]="filteredTypes"
          (completeMethod)="loadFilterTypes($event)"
          field="name"
          [disabled]="selectedProduct"
        ></p-autoComplete>
      </div>
      <div class="flex justify-content-start align-items-center">
        <div class="p-field ml-2">
          <p-button
            class="flex align-items-end justify-content-end"
            icon="pi pi-search"
            styleClass="p-button-info"
            (click)="findAll()"
            pTooltip="Pesquisar"
            tooltipPosition="top"
          ></p-button>
        </div>
        <div class="p-field ml-2">
          <p-button
            class="flex align-items-end justify-content-end"
            icon="pi pi-eraser"
            styleClass="p-button-info"
            (click)="clear()"
            pTooltip="Limpar"
            tooltipPosition="top"
          ></p-button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12" style="margin: 2% 0 2% 0">
    <div class="flex">
      <div class="flex-1 border-round">
        <div
          class="card"
          [ngClass]="{
            'card-green': amountProductsCard > 50,
            'card-yellow': amountProductsCard <= 50 && amountProductsCard > 5,
            'card-red': amountProductsCard <= 5
          }"
        >
          <p-card header="Quantidade Total">
            <div class="flex justify-content-between align-items-center">
              <p
                [ngStyle]="{
                  color:
                    amountProductsCard > 50
                      ? '#689f38'
                      : amountProductsCard <= 50 && amountProductsCard > 5
                      ? '#fcc107'
                      : '#d32f2f',
                  'font-weight': 'bold'
                }"
                class="m-0"
              >
                {{ amountProductsCard }} em Estoque
              </p>
              <i class="pi pi-inbox"></i>
            </div>
          </p-card>
        </div>
      </div>
      <div class="flex-1 border-round mx-4">
        <div class="card">
          <div class="card-default">
            <p-card header="Valor Total">
              <div class="flex justify-content-between align-items-center">
                <p class="m-0" style="font-weight: bold">
                  Valor de {{ valueProductsCard | currency : "BRL" }} em Estoque
                </p>
                <i class="pi pi-money-bill"></i>
              </div>
            </p-card>
          </div>
        </div>
      </div>
      <div class="flex-1 border-round">
        <div class="card">
          <div *ngIf="!cardSupplier; else supplierCard" class="card-default">
            <p-card header="Total de Fornecedores">
              <div class="flex justify-content-between align-items-center">
                <p class="m-0" style="font-weight: bold">
                  Quantidade: {{ amountSuppliersCard }}
                </p>
                <i class="pi pi-building"></i>
              </div>
            </p-card>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-8">
    <div class="label-container">
      <label class="label-text">Produtos</label>
    </div>
    <div class="card">
      <p-toolbar styleClass="">
        <ng-template pTemplate="left">
          <button
            pButton
            pRipple
            label="Novo"
            icon="pi pi-plus"
            class="p-button-success mr-2"
            (click)="createProduct()"
          ></button>
        </ng-template>
      </p-toolbar>
      <p-table
        class="custom-table"
        #dt
        [value]="products"
        [rows]="5"
        [paginator]="true"
        [tableStyle]="{ 'min-width': '50%' }"
        [rowHover]="true"
        currentPageReportTemplate="Exibindo {first} até {last} de {totalRecords} resultados"
        [showCurrentPageReport]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name" style="min-width: 15rem">
              Nome <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="value">
              Valor <p-sortIcon field="value"></p-sortIcon>
            </th>
            <th pSortableColumn="type.name" style="min-width: 10rem">
              Tipo <p-sortIcon field="type.name"></p-sortIcon>
            </th>
            <th>Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.name }}</td>
            <td>
              {{ product.value | currency : "BRL" : "symbol" : "1.2-2" }}
            </td>
            <td>{{ product.type.name }}</td>
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-eye"
                class="p-button-info mr-2"
                (click)="viewProduct(product.id)"
                key="view"
              ></button>
              <p-dialog
                header="{{ product.name }}"
                [(visible)]="viewVisible[product.id]"
                [style]="{ width: '30vw', height: '300px' }"
              >
                <p-scrollPanel
                  [style]="{ width: '100%', height: 'auto' }"
                  class="view"
                >
                  <div class="info">
                    <h5 class="info-title">Descrição</h5>
                    {{ product.description }}
                  </div>
                  <div class="info">
                    <h5 class="info-title">Descrição do Tipo</h5>
                    {{ product.type.description }}
                  </div>
                  <div class="info">
                    <h5 class="info-title">Categoria do Fornecedor</h5>
                    {{ product.supplier.category }}
                  </div>
                </p-scrollPanel>
              </p-dialog>
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-success mr-2"
                (click)="editProduct(product)"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-danger"
                (click)="openDeleteProduct(product)"
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            {{ products ? products.length : 0 }} Produtos em Estoque.
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="col-4">
    <div class="label-container">
      <label class="label-text">Tipos</label>
    </div>
    <div class="card">
      <p-toolbar styleClass="">
        <ng-template pTemplate="left">
          <button
            pButton
            pRipple
            label="Novo"
            icon="pi pi-plus"
            class="p-button-success mr-2"
            (click)="createType()"
          ></button>
        </ng-template>
      </p-toolbar>

      <p-table
        #dt
        [value]="types"
        [rows]="5"
        [paginator]="true"
        [tableStyle]="{ 'min-width': '30%' }"
        [(selection)]="selectedTypes"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="{first} até {last} de {totalRecords}"
        [showCurrentPageReport]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name" style="min-width: 15rem">
              Nome <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th>Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-type>
          <tr>
            <td>{{ type.name }}</td>
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-success mr-2"
                (click)="editType(type)"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-danger"
                (click)="openDeleteType(type)"
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            {{ types ? types.length : 0 }} Tipos de Produto Cadastrados.
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<!-- NG TEMPLATES: -->

<p-dialog
  header="Salvar Produto"
  [(visible)]="visibleFormProduct"
  [style]="{ width: '50vw' }"
  [maximizable]="false"
>
  <form [formGroup]="formProduct">
    <div class="grid p-fluid p-formgrid">
      <div class="col-6 flex flex-column gap-2">
        <label htmlFor="username">Nome</label>
        <input formControlName="name" type="text" pInputText />
      </div>
      <div class="col-6 flex flex-column gap-2">
        <label htmlFor="username">Tipo</label>
        <div *ngIf="types.length > 0; else disabledType">
          <p-dropdown
            formControlName="type"
            [options]="types"
            optionLabel="name"
          ></p-dropdown>
        </div>
      </div>
      <div class="col-3 flex flex-column gap-2">
        <label htmlFor="username">Quantidade</label>
        <p-inputNumber
          formControlName="amount"
          [showButtons]="true"
          inputId="minmax-buttons"
          [min]="1"
        >
        </p-inputNumber>
      </div>
      <div class="col-3 flex flex-column gap-2">
        <label htmlFor="username">Valor</label>
        <p-inputNumber
          formControlName="value"
          mode="currency"
          currency="BRL"
          [showButtons]="true"
          inputId="stacked"
          [min]="1"
        >
        </p-inputNumber>
      </div>
      <div class="col-6 flex flex-column gap-2">
        <label htmlFor="username">Fornecedor</label>
        <div *ngIf="suppliers.length > 0; else disabledSupplier">
          <p-dropdown
            formControlName="supplier"
            [options]="suppliers"
            optionLabel="name"
          ></p-dropdown>
        </div>
      </div>
      <div class="col-12 flex flex-column gap-2">
        <label htmlFor="username">Descrição</label>
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="description"
        ></textarea>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Salvar"
      icon="pi pi-check"
      (click)="saveProduct()"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Editar Produto"
  [(visible)]="visibleEditFormProduct"
  [style]="{ width: '50vw' }"
  [maximizable]="false"
>
  <form [formGroup]="formProduct">
    <div class="grid p-fluid p-formgrid">
      <div class="col-6 flex flex-column gap-2">
        <label htmlFor="username">Nome</label>
        <input formControlName="name" type="text" pInputText />
      </div>
      <div class="col-6 flex flex-column gap-2">
        <label htmlFor="username">Tipo</label>
        <p-dropdown
          formControlName="type"
          [options]="types"
          optionLabel="name"
        ></p-dropdown>
      </div>
      <div class="col-3 flex flex-column gap-2">
        <label htmlFor="username">Quantidade</label>
        <p-inputNumber
          formControlName="amount"
          [showButtons]="true"
          inputId="minmax-buttons"
          [min]="1"
        >
        </p-inputNumber>
      </div>
      <div class="col-3 flex flex-column gap-2">
        <label htmlFor="username">Valor</label>
        <p-inputNumber
          formControlName="value"
          mode="currency"
          currency="BRL"
          [showButtons]="true"
          inputId="stacked"
          [min]="1"
        >
        </p-inputNumber>
      </div>
      <div class="col-6 flex flex-column gap-2">
        <label htmlFor="username">Fornecedor</label>
        <p-dropdown
          formControlName="supplier"
          [options]="suppliers"
          optionLabel="name"
        ></p-dropdown>
      </div>
      <div class="col-12 flex flex-column gap-2">
        <label htmlFor="username">Descrição</label>
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="description"
        ></textarea>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Salvar"
      icon="pi pi-check"
      (click)="updateProduct()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
  [closable]="false"
  key="product"
>
  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      label="Não"
      class="ui-button-secondary"
      (click)="deleteProduct(false)"
    ></button>
    <button
      type="button"
      pButton
      label="Sim"
      class="ui-button-danger"
      (click)="deleteProduct(true)"
    ></button>
  </ng-template>
</p-confirmDialog>

<p-dialog
  header="Salvar Tipo"
  [(visible)]="visibleFormType"
  [style]="{ width: '30vw' }"
  [maximizable]="false"
>
  <form [formGroup]="formType">
    <div class="grid p-fluid p-formgrid">
      <div class="col-12 flex flex-column gap-2">
        <label htmlFor="username">Nome</label>
        <input formControlName="name" type="text" pInputText />
      </div>
      <div class="col-12 flex flex-column gap-2">
        <label htmlFor="username">Descrição</label>
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="description"
        ></textarea>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Salvar"
      icon="pi pi-check"
      (click)="saveType()"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Editar Tipo"
  [(visible)]="visibleEditFormType"
  [style]="{ width: '30vw' }"
  [maximizable]="false"
>
  <form [formGroup]="formType">
    <div class="grid p-fluid p-formgrid">
      <div class="col-12 flex flex-column gap-2">
        <label htmlFor="username">Nome</label>
        <input formControlName="name" type="text" pInputText />
      </div>
      <div class="col-12 flex flex-column gap-2">
        <label htmlFor="username">Descrição</label>
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="description"
        ></textarea>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Salvar"
      icon="pi pi-check"
      (click)="updateType()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
  [closable]="false"
  key="type"
>
  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      label="Não"
      class="ui-button-secondary"
      (click)="deleteType(false)"
    ></button>
    <button
      type="button"
      pButton
      label="Sim"
      class="ui-button-danger"
      (click)="deleteType(true)"
    ></button>
  </ng-template>
</p-confirmDialog>

<ng-template #disabledSupplier>
  <p-dropdown
    [disabled]="true"
    formControlName="supplier"
    [options]="suppliers"
    placeholder="Nenhum Fornecedor Cadastrado"
    optionLabel="name"
    pTooltip="Cadastre um Fornecedor"
    tooltipPosition="bottom"
  ></p-dropdown>
</ng-template>

<ng-template #disabledType>
  <p-dropdown
    [disabled]="true"
    formControlName="formType"
    [options]="suppliers"
    placeholder="Nenhum Tipo Cadastrado"
    optionLabel="name"
    pTooltip="Cadastre um Tipo"
    tooltipPosition="bottom"
  ></p-dropdown>
</ng-template>

<ng-template #supplierCard>
  <div class="card-default">
    <p-card header="Fornecedor {{ supplierName }}">
      <div class="flex justify-content-between align-items-center">
        <p class="m-0" style="font-weight: bold">
          Localização: {{ supplierCountry }},
          {{ supplierState }}
        </p>
        <i class="pi pi-building"></i>
      </div>
    </p-card>
  </div>
</ng-template>

<p-toast position="bottom-center" key="filterProduct"></p-toast>
<p-toast position="bottom-center" key="filterProductsByType"></p-toast>
<p-toast position="bottom-center" key="saveProduct"></p-toast>
<p-toast position="bottom-center" key="updateProduct"></p-toast>
<p-toast position="bottom-center" key="deleteProduct"></p-toast>
<p-toast position="bottom-center" key="saveType"></p-toast>
<p-toast position="bottom-center" key="updateType"></p-toast>
<p-toast position="bottom-center" key="deleteType"></p-toast>
