.card {
  background-color: #2b243b;
  font-style: oblique;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-radius: 8px;
  box-shadow: 0 8px 25px #2b243b;
  padding: 3rem;
  width: fit-content;
  height: fit-content;
  text-align: center;
  align-items: center;
  color: #fff;
  background-size: cover;
}
