.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.p-card {
  flex-basis: calc(50% - 20px);
  margin-bottom: 20px;
}

.p-card {
  flex-basis: 100%;
}
.graphic1 {
  width: 400px;
  height: 300px;
}
.graphic2 {
  width: 400px;
  height: 300px;
}

.graphic3 {
  width: 400px;
  height: 300px;
}
.sair {
  margin-left: 95%;
}
