<div>
  <p-button class="sair">
    <a class="nav-link"></a>
    <i
      class="pi pi-power-off"
      style="font-size: 1rem"
      (click)="authService.signOut()"
    ></i>
  </p-button>
</div>

<div class="container">
  <p-card>
    <div class="graphicValuesByType">
      <h3>Quantidade por Tipo de Produto</h3>
      <p-chart
        type="bar"
        [data]="dataGraphAmountByType"
        [options]="optionsGraphAmountByType"
      ></p-chart>
    </div>
  </p-card>
  <p-card>
    <div class="graphicAmountByType">
      <h3>Valor por Tipo de Produto</h3>
      <p-chart
        type="doughnut"
        [data]="dataGraphValuesByType"
        [options]="optionsGraphValuesByType"
      ></p-chart>
    </div>
  </p-card>
</div>
